<html>

<head>
    <title>Quiz</title>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/assets/index.js" type="text/javascript"></script>
    <link href="/assets/quizStyle.css" rel="stylesheet" type="text/css" />
</head>


    <body>
     <div id="start">
        <form action="/quiz" type="get">
         name:<br>
        <input id='name' type="text" name="name"required><br>
    country:<br>
       <!--<input type="" name="country" value="">-->
        <button type="submit">ok</button>
         
         
         </form>
        
        
 </div>
    
    
    </body>
</html>