<html>

<head>
    <title>Quiz</title>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/assets/quiz.js" type="text/javascript"></script>
    <link href="/assets/quizStyle.css" rel="stylesheet" type="text/css" />
</head>


<body>
    <button id="startBtn" onclick="starting();">start</button>
    <button id="savescore" onclick="saveScore();">save</button>


    <div id="quizContainer">
        <div id="timer">time</div>
        <div id="qstNumber">qst number</div>
        <div id="score">score</div>
        <div id="questionContainer">
            <p id="questionText"> some text here...?</p>
            <img id="questionImage" src="/assets/images/questionImage.png">

        </div>
        <div id="optionsContainer">
            <ul id="optionsList">
                <li id='opt1' class="opt"></li>
                <li id='opt2' class="opt"></li>
                <li id='opt3' class="opt"></li>
                <li id='opt4' class="opt"></li>
            </ul>
        </div>
    </div>

    <div id="finish">

        <form action="/highScores" method="post">
            name:<br>
            <input type="text" name="name" value=<%=data.name %> readonly><br> score:
            <br>
            <input type="text" name="score" value=14 readonly><br> country:
            <br>
            <input type="text" name="country" value="country" readonly><br> correctAnswers:
            <br>
            <input type="text" name="correctAns" readonly><br> wrongAnswers:
            <br>
            <input type="text" name="wrongAns" readonly>
            <br>major:<br>
            <input type="text" name="major" value="drilling"><button type="submit">ok</button>


        </form>


    </div>










    <audio id="correct">
  <source src="/assets/sounds/correct.mp3" type="audio/mpeg">
    </audio>
    <audio id="false">
  <source src="/assets/sounds/false.mp3" type="audio/mpeg">
    </audio>


</body>








</html>
